// Topics Section
.vl {
  border-left: 1px solid #d1d1d1;
  height: 35px;
  position: relative;
  margin: 0 10px;
}

.featured__text {
  font-weight: 500;
  font-size: 9px;
  position: absolute;
  left: 285px;
  top: 67px;
}
